
        * {
            margin: 0;
            padding: 0;
            text-decoration: none;
            list-style: none;
            font-family: monospace;
            font-size: 15px;
            overflow-x: hidden;
        }

        .navbar {
            /* position: absolute; */
            background-color: rgba(128, 0, 0, 0.508);
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            box-sizing: border-box;
        }

        .navbar a {
            color: rgb(255, 255, 255);
        }

        .navbar .logo {
            font-size: 1.5em;
            font-weight: bold;
        }

        .navbar .nav-links ul {
            display: flex;
        }

        .navbar .nav-links ul li {
            margin: 0 20px;
        }


